#!/usr/bin/env bash

#set -x
set +o errexit
set -o nounset

function prepare() {
    [ type fix_git_remote 2>/dev/null ] || . $GITHUB_WORKSPACE/cicd/rc/setup_github_actions_git.rc
    [ -f ~/.ssh/id_ed25519 ] || {
        setup_gpg_key
        setup_ssh_config
        setup_git_config
    }
    [ type aws_setup_pip_codeartifact_access 2>/dev/null ] || . $GITHUB_WORKSPACE/cicd/rc/configure_aws_codeartifact.rc
    aws_setup_pip_codeartifact_access manifests || true
    #aws_setup_codeartifact_access manifests manifests

    cd $GITHUB_WORKSPACE
    mkdir -p workspace 2>/dev/null || true
}

function clone_repos() {
    echo "=================================================="
    echo "                   Clone repos"
    echo "=================================================="
    ERRORS=""
    for repo_branch in ${REPOS_AND_BRANCHES} ; do
      cd $GITHUB_WORKSPACE

      repo=$(echo $repo_branch | cut -d: -f1)
      branch=$(echo $repo_branch | cut -d: -f2)

      echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
      echo "+ Repository: git@github.com:SandsB2B/${repo}.git"
      echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
      [ -d  $GITHUB_WORKSPACE/workspace/${repo} ] || git clone git@github.com:SandsB2B/${repo}.git workspace/${repo}

      if [ -d  $GITHUB_WORKSPACE/workspace/${repo} ] ; then
          cd $GITHUB_WORKSPACE/workspace/${repo}
          git branch
          if [ -z "$(git tag | egrep -e "^$branch\$" 2>/dev/null)" ] ; then
            git checkout ${branch}
          else
            ref=$(git rev-list -n 1 $branch)
            git branch --no-track tag-$branch $ref
            git checkout tag-$branch
            branch=tag-$branch
          fi
          [ "$(git branch --show-current 2>/dev/null | tr -d ' ')" == "${branch}" ] || {
            echo "ERROR: ${branch} failed";
            ERRORS="$ERRORS ${repo}:${branch}";
          }
      else
          echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
          echo "ERROR: git clone ${repo} failed";
          echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
          ERRORS="$ERRORS $CONFIG_FILE";
      fi
      echo "--------------------------------------------------"
      echo "- Done with ${repo}"
      echo "--------------------------------------------------"

      cd $GITHUB_WORKSPACE
    done
    if [ ! -z "$ERRORS" ] ; then
      echo "ERROR: ${ERRORS} repos failed to clone"
      return 1
    fi
}

function setup_b2b() {
    echo "=================================================="
    echo "             Setup b2b environment"
    echo "=================================================="
    export AWS_ACCESS_KEY_ID=${CI_AWS_ACCESS_KEY_ID:-$AWS_ACCESS_KEY_ID}
    export AWS_SECRET_ACCESS_KEY=${CI_AWS_SECRET_ACCESS_KEY:-$AWS_SECRET_ACCESS_KEY}
    export AWS_SESSION_TOKEN=${CI_AWS_SESSION_TOKEN:-$AWS_SESSION_TOKEN}
    export B2B_INFRASTRUCTURE_ROOT_DIR=$GITHUB_WORKSPACE/workspace/b2b-infrastructure
    export B2B_INFRASTRUCTURE_WORKSPACE_DIR=$GITHUB_WORKSPACE/workspace
    export AWS_ROLE_ARN=arn:aws:iam::ACCOUNT_ID:role/github-terraform-pipelines

    [ type setup_git_config 2>/dev/null ] || . $GITHUB_WORKSPACE/cicd/rc/setup_github_actions_git.rc
    setup_gpg_key
    setup_ssh_config
    setup_git_config

    cd $GITHUB_WORKSPACE

    b2b version
}

function filter_config_file() {
  echo "Default config file filter" >&2
  echo "$1"
}

function update_deployments() {
    set +o errexit
    set +o nounset
    RC=0
    if [ ! -z "$CONFIG_FILES" ] ; then
        prepare

        clone_repos

        setup_b2b

        echo "=================================================="
        echo "+ Process config files: $CONFIG_FILES"
        echo "=================================================="
        ERRORS=""
        for CONFIG_FILE_ in $CONFIG_FILES ; do
            if [ -f "$CONFIG_FILE_" ] ; then
                echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
                echo "++ $CONFIG_FILE_"
                echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
                echo "++ Filter $CONFIG_FILE_"
                CONFIG_FILE="$(filter_config_file $CONFIG_FILE_ 2>/dev/null)"
                if [ -z "$CONFIG_FILE" -o ! -f "$CONFIG_FILE" ] ; then
                  echo "WARNING: $CONFIG_FILE_ filtered('$CONFIG_FILE'). Skipping ..."
                  continue
                fi

                ENVIRONMENT_NAME=$(basename $CONFIG_FILE .yaml)
                echo "++ ENVIRONMENT_NAME: $ENVIRONMENT_NAME"
                # If the environment is locked or disabled, then error
                if [ -z "$(egrep $ENVIRONMENT_NAME $GITHUB_WORKSPACE/disabled-environments.txt 2>/dev/null)" ] ; then
                    # If the branch is not main and the branch and config_file don't match, then error
                    if [ "$GITHUB_REF_NAME" == "main" -o "$GITHUB_REF_NAME" == "$ENVIRONMENT_NAME" ] ; then
                        echo "++ Deploying $CONFIG_FILE"

                        yq .metadata.version $CONFIG_FILE
                        RC=$?
                        [ $RC -eq 0 ] || {
                            echo "ERROR: environment manifest check failed with RC=$RC";
                            ERRORS="$ERRORS $CONFIG_FILE";
                            continue
                        }

                        b2b deployment create --environment=$ENVIRONMENT_NAME --deployments=:all: \
                        --repository=$GITHUB_REPOSITORY --environment-manifest=$CONFIG_FILE \
                        --template-sources=$TEMPLATE_SOURCES \
                        --strict-template-versions --overwrite-if-exists --clean-up --commit --push ${B2B_DEBUG} --do-it
                        RC=$?
                        [ $RC -eq 0 ] || {
                            echo "ERROR: b2b deployment create failed with RC=$RC";
                            ERRORS="$ERRORS $CONFIG_FILE";
                        }
                    else
                        echo "ERROR: branch $GITHUB_REF_NAME is not allowed to update enviroment $ENVIRONMENT_NAME";
                        ERRORS="$ERRORS ${CONFIG_FILE}";
                    fi
                else
                    echo "WARNING: enviroment $ENVIRONMENT_NAME is locked or disabled  "
                fi
                echo "--------------------------------------------------"
                echo "-- Done $CONFIG_FILE"
                echo "--------------------------------------------------"
            else
              echo "WARNING: $CONFIG_FILE_ does not exist. Skipping ..."
            fi
        done
    else
          echo "WARNING: No config changes! Skipping deployments ..."
    fi
    echo "=================================================="
    echo "                      Done!"
    echo "=================================================="
    if [ ! -z "$ERRORS" ] ; then
      echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
      echo "!!! ERRORS: ${ERRORS} deployments failed"
      echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
      RC=2
    fi
    [ 0 -eq $RC ]
}

function handle_exemptions() {
    local repo=$1
    [ ! -z "$repo"] || repo=$(basename $PWD)
    echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
    echo "!!!  Default handler does not exempt anything  !!!"
    echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
}

function check_repos() {
    echo "=================================================="
    echo "                   Check repos"
    echo "=================================================="
    ERRORS=""
    RC=0
    for repo_branch in ${REPOS_AND_BRANCHES} ; do
      cd $GITHUB_WORKSPACE

      repo=$(echo $repo_branch | cut -d: -f1)
      branch=$(echo $repo_branch | cut -d: -f2)

      echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
      echo "+ Repository: git@github.com:SandsB2B/${repo}.git"
      echo "++++++++++++++++++++++++++++++++++++++++++++++++++"

      if [ -d  $GITHUB_WORKSPACE/workspace/${repo} ] ; then
          cd $GITHUB_WORKSPACE/workspace/${repo}
          git branch
          git status
          handle_exemptions
          git status -u
          [ -z "$(git status --porcelain)" ] || {
            echo "ERROR: ${repo} has uncommitted changes";
            ERRORS="$ERRORS ${repo}:${branch}";
            git diff
          }
      else
          echo "ERROR: git clone ${repo} failed";
          ERRORS="$ERRORS $CONFIG_FILE";
      fi
      echo "--------------------------------------------------"
      echo "- Done checking ${repo}"
      echo "--------------------------------------------------"

      cd $GITHUB_WORKSPACE
    done
    echo "=================================================="
    echo "           Done checking repos"
    echo "=================================================="
    if [ ! -z "$ERRORS" ] ; then
      echo "ERROR: ${ERRORS} repos failed checks"
      RC=1
    fi
    set +o errexit
    [ 0 -eq $RC ]
}

function test_deployments() {
    set +o errexit
    set +o nounset

    echo "=================================================="
    echo "+ Check environment manifests"
    echo "=================================================="
    ERRORS=""
    for CONFIG_FILE in $(ls config/*.yaml 2>/dev/null) ; do
        if [ -f "$CONFIG_FILE" ] ; then
            echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
            echo "++ $CONFIG_FILE"
            echo "++++++++++++++++++++++++++++++++++++++++++++++++++"
            yq .metadata.version $CONFIG_FILE
            RC=$?
            [ $RC -eq 0 ] || {
                echo "ERROR: environment manifest check failed with RC=$RC";
                ERRORS="$ERRORS $CONFIG_FILE";
            }
        fi
    done
    if [ -z "$ERRORS" ] ; then
        prepare

        clone_repos

        setup_b2b

        echo "=================================================="
        echo "+ Test all environments, all deployments"
        echo "=================================================="

        b2b deployment create --deployments=:all: \
        --repository=$GITHUB_REPOSITORY --environment-manifest='config/*.yaml' \
        --template-sources=$TEMPLATE_SOURCES \
        --strict-template-versions --overwrite-if-exists --clean-up ${B2B_DEBUG} --do-it
        RC=$?
        [ $RC -eq 0 ] || {
            echo "ERROR: b2b deployment create failed with RC=$RC";
            ERRORS="$ERRORS $CONFIG_FILE";
        }
        set +o errexit
        check_repos
        RC=$?

        echo "=================================================="
        echo "         Done testing all environments"
        echo "=================================================="
    fi

    set +o errexit
    [ -z "$ERRORS" ] || {
        echo $ERRORS;
        RC=1
    }
    [ 0 -eq $RC ]
}
